
body{
    font-family: "Teko", sans-serif;
}
.centraliza{
    text-align: center;
}
.corlista{
    background-color: cornflowerblue;
    color: white;
}
li:active{
    color: tomato;
    font-family: monospace;
}
.lista{
    list-style: none;
}